<!-- Generate IDs  -->
{{ $page_id := printf "%s" (md5 (printf "%s" $.Page.File.Dir)) }}

<!-- Get Parent Information -->
{{ $parents := slice }}
{{ $parent := .CurrentSection.Parent }}
{{ range (seq 1 10) }}
    {{ if $parent }}
        {{ $parent_page_id := printf "%s" (md5 (printf "%s" $parent.File.Dir)) }}
        {{ $parents = $parents | append $parent_page_id }}
        {{ $parent = $parent.Parent }}
    {{ end }}
{{ end }}

<!-- Determine Root Page ID -->
{{ $root_page := $page_id }}
{{ if gt (len $parents) 1 }}
    {{ $root_page = index $parents (sub (len $parents) 2) }}
{{ else }}
    {{ $root_page = index $parents (sub (len $parents) 1) }}
{{ end }}

{{ $hierarchy := (sub (len $parents) 1) }}


<!-- Set page info for the json -->
{{ 
    $.Page.Scratch.SetInMap "pageinfo" $page_id 
    (dict 
        "page_id" $page_id 
        "parents" $parents 
        "root_page" $root_page
        "params" $.Params
        "language" $.Lang
        "hierarchy" $hierarchy
        ) 
}}

<script>
    let apiUrl = ("{{ $.Site.BaseURL }}").split("statics")[0];
    apiUrl = !apiUrl.startsWith("http") ? `${window.location.origin}/${apiUrl}`.replace(/([^:])\/{2,}/g,"$1/") : apiUrl;
</script>
