{{ $btn_label := .Get "label" | default "Download as PDF" }} 

<div class="pdf-download-wrapper">
  <button class="gpdf" onclick="downloadPDF(this)" style="float: left;">
    <svg class="bi" width="22" height="22" style="margin-right: 7px;">
      <use xlink:href="#pdf"></use>
    </svg>
    {{ $btn_label }}
    <div class="pdf-loading-indicator" style="display: none;">
      <div class="lds-ring">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </button>
</div>