{{ $input_label := .Get "label" }} 
{{ $input_name := $input_label | lower | replaceRE "[^0-9a-z]" "_" | replaceRE "-+" "_" }}
{{ $default_selection := .Get "default" | default "-- please select --" }} 
{{ $options := split (.Get "options" ) ";"}}
{{ $input_required := .Get "required" | default false }}
{{ $input_wide := .Get "wide" | default false }}
{{ $input_instructor := .Get "instructor" | default "" }}

<div class="input-row {{ if $input_wide }}wide{{ end }}">
  <label for="{{ $input_name }}">{{ $input_label }}{{ if $input_required }} <span class="required_marker">(required)</span>{{ end }}</label>
  <div class="input-field-wrapper">
    <select name="{{ $input_name }}" id="{{ $input_name }}" class="input {{ if $input_required }}required{{ end }}">
      <option value="">{{ $default_selection }}</option>
      {{ range $options }}<option value='{{ strings.TrimLeft " " . }}' {{if and ($.Site.Params.instructorNotes) (eq $input_instructor .)}}class="instructor-notes" selected="selected"{{end}}>{{ strings.TrimLeft " " . }}</option>{{ end }}
    </select>
  </div>
</div>