{{ $exercise_title := .Get "title" }} 
{{ $exercise_script := .Get "script" }}
{{ $exerciseWeight := $.Page.Weight }}
{{ $parentWeight := $.Page.Parent.Weight }}

{{ $.Page.Scratch.Add "exid" 1 }}
{{ $pageid := (md5 $.Page.File.Path) }}
{{ $exid := ($.Page.Scratch.Get "exid") | string }}
{{ $exercise_id := $exid | printf "%s%s" $pageid }}

<input class="exercise-info" type="hidden" name="info" value='{"id":"{{ $exercise_id }}", "title":"{{ $exercise_title }}", "pageTitle":"{{ $.Page.Title }}", "parent":"{{ $.Page.Parent.Title }}", "type":"script", "script":"{{ $exercise_script }}", "exerciseWeight":"{{ $exerciseWeight }}", "parentWeight":"{{ $parentWeight }}" }'> 

<div id="{{ $exercise_id }}" class="exercise-control">
  <h5>Exercise Control</h5>
  <h4>{{ $exercise_title }}</h4>
  
  {{ .Inner }}

  <section class="stats_display">
    <ul class="stats-list">
      <li>
        <span>Script executed</span>
        <span class="stat_indicator_container">
          <div
            id="exercise_executed"
            class="stat_indicator loading"
            style="display: none"
          >
            <svg
              class="stat_icon"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 52 52"
            >
              <circle class="stat_circle" cx="26" cy="26" r="26" fill="none" />
              <path
                class="stat_check"
                fill="none"
                d="M14.1 27.2l7.1 7.2 16.7-16.8"
              />
              <g class="stat_cross">
                <path d="m15.07675,36.98865l21.84649,-21.9773" fill="none" />
                <path d="m36.98865,36.92324l-21.9773,-21.84649" fill="none" />
              </g>
            </svg>
          </div>
        </span>
      </li>
      <li>
        <span>Exercise completed</span>
        <span class="stat_indicator_container">
          <div
            id="exercise_completed"
            class="stat_indicator loading"
            style="display: none"
          >
            <svg
              class="stat_icon"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 52 52"
            >
              <circle class="stat_circle" cx="26" cy="26" r="26" fill="none" />
              <path
                class="stat_check"
                fill="none"
                d="M14.1 27.2l7.1 7.2 16.7-16.8"
              />
              <g class="stat_cross">
                <path d="m15.07675,36.98865l21.84649,-21.9773" fill="none" />
                <path d="m36.98865,36.92324l-21.9773,-21.84649" fill="none" />
              </g>
            </svg>
          </div>
        </span>
      </li>
    </ul>
  </section>

  <button id="submitExercise" type="button" class="btn-run-exercise" value="{{ $exercise_script }}">
    <svg class="bi" width="22" height="22" role="img">
      <use xlink:href="#play"></use>
    </svg>
    execute / check status
  </button>

  <div id="msg-container">
    <div id="msg"></div>
  </div>

  <div id="msg-detail">
  </div>

  <div id="history" style="display: none"></div>

</div>
